Django
Fabric
Pillow
South
django-registration
gunicorn
django-pagination
Unipath
boto
django-storages
django-crispy-forms
django-browserid
djangorestframework
markdown
pyyaml
django-filter
python-dateutil
django-compressor
versiontools
django-debug-toolbar
django-gcm
