Django==1.5.1
Fabric==1.5.1
Pillow==1.7.8
South==0.7.6
django-registration==0.8
-e git+https://github.com/SmileyChris/easy-thumbnails.git@daa81f07eb9fef68c46f03d1a8034b52ab338263#egg=easy_thumbnails-dev
gunicorn==0.17.0
django-pagination==1.0.7
Unipath==0.2.1
MySQL-python==1.2.4c1
boto==2.6.0
django-storages==1.1.5
django-crispy-forms==1.2.8
django-browserid
djangorestframework
markdown
pyyaml
django-filter
python-dateutil==1.5
django-compressor
versiontools
django-debug-toolbar
django-gcm
